---
# This playbook will install psql 15, the backup script, and register the script to crontab

- name: Install requirements and postgresql-common to get last postgresql.org ppa
  become: true
  ansible.builtin.apt:
    pkg:
      - gnupg
      - gnupg2
      - gnupg1
      - postgresql-common

- name: Install last postgresql.org ppa
  become: true
  ansible.builtin.command: /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh -y
  changed_when: false

- name: Run the equivalent of "apt-get update" as a separate step
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Install psql 16 tools
  become: true
  ansible.builtin.apt:
    name: postgresql-client-16
    state: present

- name: Create backup script
  ansible.builtin.template:
    src: dump.sh.j2
    dest: '{{ backup_dir }}/dump2.sh'
    mode: '0644'

- name: Add regular dump to crontab
  ansible.builtin.cron:
    name: "regular dump of {{ pgdump.host }}/{{ pgdump.database }}"
    hour: "*/3"
    minute: "0"
    job: '{{ backup_dir }}/dump.sh'
