[Unit]
Description=Sortir.in API Service
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ sortir_install_dir }}
ExecStart={{ sortir_install_dir }}/sortir serve
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
