#!/bin/bash
DAY=$(printf '%(%Y-%m-%d)T\n' -1)
NOW=$(printf '%(%Y-%m-%d_%H:%M:%S)T\n' -1)
mkdir -p "{{backup_dir}}/$DAY"
pg_dump \
  --dbname=postgresql://{{pgdump.user}}:{{pgdump.password}}@{{pgdump.host}}/{{pgdump.database}} \
  -Fc > "{{backup_dir}}/$DAY/$NOW.out"
